executor {
  queueSize=24
}

process {

  // Global process config
  executor = 'slurm'
  // queue = 'ikmb_a'
  cpus = 6
  clusterOptions = { -t = 2-00:00:00 }
  // clusterOptions = { "--qos=ikmb_a" }

}

params {
  // illumina iGenomes reference file paths on RZCluster
  igenomes_base = '/om/group/pilm/genomes'
  skip_rseqc = true
  skip_genebody_coverage = true
  skip_preseq = true
  skip_dupradar = true
  aligner = 'hisat2'
}

params {
  // illumina iGenomes reference file paths on UPPMAX
  genomes {
    'GRCh38' {
      fasta   = "${params.igenomes_base}/Hsapiens/hg38/seq/hg38.fa"
      gtf     = "${params.igenomes_base}/Hsapiens/hg38/rnaseq/ref-transcripts.gtf"
      transcriptome     = "${params.igenomes_base}/Hsapiens/hg38/rnaseq/ref-transcripts.fa"
      hisat2 =  "${params.igenomes_base}/Hsapiens/hg38/hisat2/hg38"
      release = "96"
      source = "Ensembl"
      organism = "Homo sapiens"
      genome_name = "GRCh38"
    }
    'GRCh37' {
      bed12   = "${params.igenomes_base}/Homo_sapiens/Ensembl/GRCh37/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_base}/Homo_sapiens/Ensembl/GRCh37/Sequence/WholeGenomeFasta/genome.fa"
      gtf     = "${params.igenomes_base}/Homo_sapiens/Ensembl/GRCh37/Annotation/Genes/genes.gtf"
      star    = "${params.igenomes_base}/Homo_sapiens/Ensembl/GRCh37/Sequence/STARIndex/"
      transcriptome = "${params.igenomes_base}/Homo_sapiens/Ensembl/GRCh37/Sequence/Genes/genes.fa"
    }
    'GRCm38' {
      bed12   = "${params.igenomes_base}/Mus_musculus/Ensembl/GRCm38/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_base}/Mus_musculus/Ensembl/GRCm38/Sequence/WholeGenomeFasta/genome.fa"
      gtf     = "${params.igenomes_base}/Mus_musculus/Ensembl/GRCm38/Annotation/Genes/genes.gtf"
      star    = "${params.igenomes_base}/Mus_musculus/Ensembl/GRCm38/Sequence/STARIndex/"
      transcriptome = "${params.igenomes_base}/Mus_musculus/Ensembl/GRCm38/Sequence/Genes/genes.fa"
    }
  }
}
